<a href="/">Back to the home page</a>
<form class="form-detail" action="/signup" method="post" id="myform">
  <h2>Registrierung</h2>
  <!--
  <div class="form-row">
    <label for="full-name">Vollständiger Name:</label>
    <input type="text" name="full_name" id="full_name" class="input-text" placeholder="Max Mustermann">
  </div>
  -->
  <div class="form-row">
    <label for="username">Benutzer Name:</label>
    <input type="text" name="username" id="username" class="input-text" placeholder="Automoaxl">
  </div>
  <!--
  <div class="form-row">
    <label for="your_email">Email:</label>
    <input type="text" name="your_email" id="your_email" class="input-text" required
      pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
  </div>
  -->
  <div class="form-row">
    <label for="password">Passwort:</label>
    <input type="password" name="password" id="password" class="input-text" required minlength="1">
  </div>
  <div class="form-row">
    <label for="comfirm-password">Passwort bestätigen:</label>
    <input type="password" name="confirm_password" id="confirm_password" class="input-text" required>
  </div>
  
  <div class="form-row-last">
    <input type="submit" name="register" class="register" value="Register">
  </div>
</form>
{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}